.App {
	.container {
		@media screen and (orientation: landscape) {
			width: 80%;
		}
		@media screen and (orientation: portrait) {
			width: 90%;
		}
		margin: 1em auto;
	}

	.centered {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.Page {
		@extend .container;
		@extend .centered;
		padding-top: 2em;
		min-height: 90vh;
	}
}
