.App {
	.container {
		@media screen and (orientation: landscape) {
			width: 80%;
		}
		@media screen and (orientation: portrait) {
			width: 90%;
		}
		margin: 1em auto;
	}
	.Page {
		@extend .container;
		min-height: 100vh;
		@media screen and (orientation: landscape) {
			padding-top: 2em;
			min-height: 90vh;
		}
	}
}
